{% load static %}
{% load static tailwind_tags %}

<html class="scroll-smooth scroll-pt-12">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>PUCARA</title>
      {% tailwind_css %}
  </head>
  <nav class="bg-zinc-950 grid grid-cols-3 p-5">
    <!--Identificador de usuario activo y barra de navegación-->
    <div class="flex items-center">
      <p 
      class="bg-zinc-400 text-white mx-6 px-8 rounded-lg"> {{ usuario.nombre }} 
      </p>
    </div>
    <!--Logo de Pucara-->
    <div>
        <img alt="logo" src=" {% static 'img\logo.jpg' %}" class="h-16 w-16 mx-auto rounded-3xl"/>
    </div>
    <!--Para cerrar sesión activa-->
    <div class="flex justify-end items-center">
        <a 
        href="{% url 'egreso' %}"
        class="text-white mx-6"> Cerrar sesion </a>
        <a 
          href="{% url 'registros' %}"
          class="text-white mx-6"> Inicio </a>
    </div>
  </nav>
  <body>
    <div class="#">
        <!-- Menu -->
        {% block menu %}
        {% endblock %}

        <!-- Registros -->
        {% block registros %}
        {% endblock %}

        <!-- nuevoRegistro -->
        {% block nuevoRegistro %}
        {% endblock %}

    </div>
  </body>
  <footer class="bg-zinc-950  p-5 bottom-0">
    <!--AGREGAR FOOTER-->
    <div>
      <h2 class="text-center text-white">Pucará Ltda.</h2>
    </div>
  </footer>
</html>