{% load static %}
{% load static tailwind_tags %}
<html class="scroll-smooth scroll-pt-12">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>PUCARA</title>
        {% tailwind_css %}
    </head>
    <header>
        <a href="{% url 'egreso' %}"> Cerrar sesion </a>

    </header>
    <body>
        <a href="{% url 'usuarios' %}"> Usuarios </a>
        <a href="{% url 'registros' %}"> Registros </a>
    </body>

</html>
