{% extends 'central-base.html' %}
{% load static %}

{% block nuevoRegistro %}
<div class="bg-white mx-4 my-8 md:ml-16 grid md:grid-cols-2">
  <form action="." method="POST" class="w-full">
    {% csrf_token %}
    <div class="p-4">
      <h1 class="text-4xl font-semibold">Registra Un Camión</h1>
      <div class="grid py-4 gap-2">
        <div>
          <label for="areaCheckboxSello" class="font-bold"> Este camión se encuentra cargado: </label>
          <input 
            class=""
            type="checkbox" 
            name="cargado" 
            value="1"
            id="areaCheckboxSello"
          >
        </div>

        <div>
          <input 
            class="w-full py-2 px-4 rounded-md shadow-lg border-gray-300 placeholder-gray-400 sm:text-sm"
            type="text" 
            name="tracto" 
            placeholder="Ingrese el número de tracto"
            maxlength="4"
            required
          >
        </div>
        
        <div>
          <select 
            class="w-full py-2 px-4 rounded-md shadow-lg border-gray-300 text-gray-400 sm:text-sm" 
            id="idConductor" 
            name="idConductor" 
            required>
            <!-- Options for idConductor selection -->
            {% for e in conductores %}
            <option 
              value="{{ e.id }}"
              class="w-full py-2 px-4 rounded-md shadow-lg border-gray-300 text-gray-400 sm:text-sm"> {{ e.nombre }} </option>
            {% endfor %}
          </select>
        </div>

        <div>
          <select 
            class="w-full py-2 px-4 rounded-md shadow-lg border-gray-300 text-gray-400 sm:text-sm" 
            name="idCamion" 
            required>
            <!-- Options for idCamion selection -->
            {% for e in camiones %}
            <option 
              value="{{ e.id }}"
              class="w-full py-2 px-4 rounded-md shadow-lg border-gray-300 text-gray-400 sm:text-sm"> {{ e.nombre }} </option>
            {% endfor %}
          </select>
        </div>

        <div>
          <input 
            class="w-full py-2 px-4 rounded-md shadow-lg border-gray-300 placeholder-gray-400 sm:text-sm"
            type="text" 
            name="ppu" 
            required 
            placeholder="Número de PPU"
            maxlength="6"
          >
        </div>

        <div class="flex">
          <input 
            class="w-full py-2 px-4 rounded-md shadow-lg border-gray-300 placeholder-gray-400 sm:text-sm"
            type="text" 
            name="comienzoContenedor" 
            required 
            maxlength="10"
            placeholder="Número de contenedor"
            id="comienzoContenedor"
          >
          <input 
            class="w-full md:w-12 py-2 px-4 rounded-md shadow-lg border-gray-300 placeholder-gray-400 sm:text-sm"
            type="text" 
            name="finalContenedor" 
            required 
            maxlength="1"
            placeholder=""
            id="finalContenedor"
          >
        </div>

        <div aria-checked="false" id="sello" class="hidden aria-checked:gap-2 aria-checked:grid">
          <div>
            <input 
              class="w-full py-2 px-4 rounded-md shadow-lg border-gray-300 placeholder-gray-400 sm:text-sm"
              type="text" 
              name="sello" 
              placeholder="Número de sello"
              maxlength="8"
              id="sello"
            >
          </div>
        </div>
      </div>

      <div class="">
        <button 
          class="w-full py-2 px-4 rounded-md bg-amber-500 text-sm font-semibold shadow-lg text-white hover:bg-amber-600" 
          type="submit">
            Enviar
        </button>
      </div>        
    </div>
  </form>
  <div class="hidden md:block w-3/4 relative justify-self-end">
    <img src="{% static 'img\camion.jpeg' %}" alt="Side Screen Image" class="w-full h-3/5 object-cover">
    <div class="absolute inset-0 bg-gradient-to-l from-transparent to-white"></div>
  </div>
</div>
        
<!--Funcion en javascript para que la hora se ponga automaticamente-->
<script>
  function setDateTime() {
    const dateInput = document.querySelector('input[name="fecha"]');
    const now = new Date();
    const year = now.getFullYear();
    const month = String(now.getMonth() + 1).padStart(2, '0');
    const day = String(now.getDate()).padStart(2, '0');
    const hours = String(now.getHours()).padStart(2, '0');
    const minutes = String(now.getMinutes()).padStart(2, '0');
  
    // El valor del campo datetime-local debe tener el formato "AAAA-MM-DDThh:mm"
    const dateTimeValue = `${year}-${month}-${day}T${hours}:${minutes}`;
    dateInput.value = dateTimeValue;
  }
</script>

<script>
  // Get references to the checkbox and the div element
  const checkbox = document.getElementById('areaCheckboxSello');
  const divElement = document.getElementById('sello');
  
  // Add an event listener to the checkbox to handle changes
  checkbox.addEventListener('change', function() {
    // Update the aria-checked attribute of the div based on the checkbox value
    divElement.setAttribute('aria-checked', this.checked);
  });
</script>
{% endblock %}
