{% extends 'central-base.html' %}
{% load static %}

{% block nuevoRegistro %}
<div class="bg-white h-screen mx-16 my-8">
  <h1 class="text-4xl font-semibold">Registra Un Camión</h1>
  <form action="." method="POST">
    {% csrf_token %}
    <div class="">
      <div class="grid py-4 gap-2">
        <div>
          <label for="areaCheckedCheckbox" class="font-bold"> Este camión se encuentra cargado </label>
          <input 
            class=""
            type="checkbox" 
            name="cargado" 
            value="1"
            id="areaCheckedCheckbox"
          >
        </div>

        <div>
          <input 
            class="w-full md:w-96 py-2 px-4 rounded-md shadow-lg border-gray-300 placeholder-gray-400 sm:text-sm"
            type="text" 
            name="tracto" 
            placeholder="Ingrese el número de tracto"
            maxlength="4"
            required
          >
        </div>
        
        <div>
          <select 
            class="w-full md:w-96 py-2 px-4 rounded-md shadow-lg border-gray-300 text-gray-400 sm:text-sm" 
            id="idConductor" 
            name="idConductor" 
            required>
            <!-- Options for idConductor selection -->
            {% for e in conductores %}
            <option 
              value="{{ e.id }}"
              class="w-full md:w-96 py-2 px-4 rounded-md shadow-lg border-gray-300 text-gray-400 sm:text-sm"> {{ e.nombre }} </option>
            {% endfor %}
          </select>
        </div>

        <div>
          <select 
            class="w-full md:w-96 py-2 px-4 rounded-md shadow-lg border-gray-300 text-gray-400 sm:text-sm" 
            name="idCamion" 
            required>
            <!-- Options for idCamion selection -->
            {% for e in camiones %}
            <option 
              value="{{ e.id }}"
              class="w-full md:w-96 py-2 px-4 rounded-md shadow-lg border-gray-300 text-gray-400 sm:text-sm"> {{ e.nombre }} </option>
            {% endfor %}
          </select>
        </div>

        <div>
          <input 
            class="w-full md:w-96 py-2 px-4 rounded-md shadow-lg border-gray-300 placeholder-gray-400 sm:text-sm"
            type="text" 
            name="ppu" 
            required 
            placeholder="Número de PPU"
            maxlength="6"
          >
        </div>

        <div aria-checked="false" class="hidden aria-checked:gap-2 aria-checked:grid">
          <div>
            <input 
              class="w-full md:w-96 py-2 px-4 rounded-md shadow-lg border-gray-300 placeholder-gray-400 sm:text-sm"
              type="text" 
              name="sello" 
              required
              placeholder="Número de sello"
              maxlength="8"
              id="sello"
            >
          </div>

          <div class="">
            <input 
              class="w-full md:w-96 py-2 px-4 rounded-md shadow-lg border-gray-300 placeholder-gray-400 sm:text-sm"
              type="text" 
              name="comienzoContenedor" 
              required 
              maxlength="10"
              placeholder="5555555555"
              id="comienzoContenedor"
            >
            <input 
              class="w-full md:w-12 py-2 px-4 rounded-md shadow-lg border-gray-300 placeholder-gray-400 sm:text-sm"
              type="text" 
              name="finalContenedor" 
              required 
              maxlength="1"
              placeholder="5"
              id="finalContenedor"
            >
          </div>
        </div>
      </div>
      
      {% comment %} <div class="text-center block  font-medium text-xl text-gray-700 my-3">
        <p> Este registro será guardado bajo la responsabilidad de <i> {{ autor.nombre }} </i> </p>
      </div> {% endcomment %}

      <div class="">
        <button 
          class="w-full md:w-96 py-2 px-4 rounded-md bg-amber-500 text-sm font-semibold shadow-lg text-white hover:bg-amber-600" 
          type="submit">
            Enviar
        </button>
      </div>        
    </div>
  </form>
</div>
        
  <!--Funcion en javascript para que la hora se ponga automaticamente-->
  <script>
    function setDateTime() {
      const dateInput = document.querySelector('input[name="fecha"]');
      const now = new Date();
      const year = now.getFullYear();
      const month = String(now.getMonth() + 1).padStart(2, '0');
      const day = String(now.getDate()).padStart(2, '0');
      const hours = String(now.getHours()).padStart(2, '0');
      const minutes = String(now.getMinutes()).padStart(2, '0');
    
      // El valor del campo datetime-local debe tener el formato "AAAA-MM-DDThh:mm"
      const dateTimeValue = `${year}-${month}-${day}T${hours}:${minutes}`;
      dateInput.value = dateTimeValue;
    }
    </script>

  <!--funcion en javascript para que cuando el camion no vaya cargado no se pueda escribir el n° del contenedor y el n° de sello-->
  <script>
    const cargado = document.getElementById('cargado');
    const sello = document.getElementById('sello');

    cargado.addEventListener('change', () => {
      if (cargado.checked) {
        // Si el cargado está marcado (cargado es igual a 1), habilitar los campos
        sello.disabled = false;
      } else {
        // Si el cargado no está marcado (cargado es igual a 0), deshabilitar los campos
        sello.disabled = true;
      }
    });
  </script>

  <script>
    // Get references to the checkbox and the div element
    const checkbox = document.getElementById('areaCheckedCheckbox');
    const divElement = document.querySelector('div[aria-checked]');
  
    // Add an event listener to the checkbox to handle changes
    checkbox.addEventListener('change', function() {
      // Update the aria-checked attribute of the div based on the checkbox value
      divElement.setAttribute('aria-checked', this.checked);
    });
  </script>
</div>

{% endblock %}
  