{% extends 'central-base.html' %}
{% load static %}

{% block nuevoRegistro %}
<div class="bg-white">
  <form action="." method="POST">
    {% csrf_token %}
    <div class="bg-zinc-400 my-6 mx-6 py-8 px-6 rounded-lg">
      <div class="text-center text-xl font-bold leading-8 text-gray-900 my-3">
        <h1>Registra Un Camión</h1>
      </div>
      <div class="border rounded-lg p-6 text-center ">
        <div class="grid grid-cols-2 py-4 text-center">
          <div class="">
            <div class="py-2 text-center block  font-medium text-xl text-gray-700">
              <label for="tracto">N° Tracto: </label>
            </div>
            <div>
              <input 
                class="rounded-md px-4 py-2 w-20 border-2 focus:outline-none focus:border-amber-500"
                type="text" 
                name="tracto" 
                placeholder="Ingrese el número de tracto"
                maxlength="4"
                required
              >
            </div>
          </div>
          
          <div class="py-4 col-start-2">
            <div class="py-1 text-center block  font-medium text-xl text-gray-700">
              <label for="cargado">Lleno</label>
            </div>
            <div>
              <input 
              class=""
              type="checkbox" 
              name="cargado" 
              value="1"
              id="cargado"
            >
            </div>
          </div>
          
          <div class="py-4">
            <div class="py-2 text-center block  font-medium text-xl text-gray-700">
              <label for="idConductor">Nombre Conductor</label>
            </div>
            <div>
              <select class="rounded-md py-2 w-64 border-2 focus:outline-none focus:border-amber-500" id="idConductor" name="idConductor" required>
                <!-- Options for idConductor selection -->
                {% for e in conductores %}
                <option value="{{ e.id }}"> {{ e.nombre }} </option>
                {% endfor %}
              </select>
            </div>
          </div>
  
          <div class="col-start-2 ">
            <div class="py-2 text-center block  font-medium text-xl text-gray-700">
              <label for="comienzoContenedor">N° Contenedor</label>
            </div>
            <div class="flex justify-center rounded-md border-2 focus-within:border-amber-500 ">
              <div class="">
                <input 
                  class="rounded-md w-full text-center focus:outline-none"
                  type="text" 
                  name="comienzoContenedor" 
                  required 
                  maxlength="10"
                  id="comienzoContenedor"
                >
              </div>
              <label for="finalContenedor" class="px-2">-</label>
              <div>
                <input 
                  class="rounded-md px-2  w-8 text-center "
                  type="text" 
                  name="finalContenedor" 
                  required 
                  maxlength="1"
                  id="finalContenedor"
                >
              </div>
            </div>
          </div>
  
          <div class=" py-4 ">
            <div class="my-2 text-center block  font-medium text-xl text-gray-700 ">
              <label for="idCamion">Tipo de camión</label>
            </div>
            <div>
              <select class="rounded-md  py-2 border-2 " name="idCamion" required>
                <!-- Options for idCamion selection -->
                {% for e in camiones %}
                <option value="{{ e.id }}"> {{ e.nombre }} </option>
                {% endfor %}
              </select>
            </div>
          </div>
          
          
  
          <div class="">
            <div class="py-2 text-center block  font-medium text-xl text-gray-700">
              <label for="sello">N° Sello</label>
            </div>
            <div>
              <input 
                class="rounded-md px-4 w-12 border-2 focus:outline-none focus:border-amber-500"
                type="text" 
                name="sello" 
                required
                maxlength="8"
                id="sello"
              >
            </div>
          </div>
          
          
          <div class="">
            <div class="text-center block  font-medium text-xl text-gray-700">
              <label for="ppu">PPU Semi Remorque</label>
            </div>
            <div>
              <input 
                class="rounded-md px-4 w-20 border-2 focus:outline-none focus:border-amber-500"
                type="text" 
                name="ppu" 
                required 
                maxlength="6"
              >
            </div>
          </div>
        </div>

      </div>
      
      <div class="text-center block  font-medium text-xl text-gray-700 my-3">
        <p> Este registro será guardado bajo la responsabilidad de <i> {{ autor.nombre }} </i> </p>
      </div>

      <div class="text-center">
        <button class="bg-amber-500 text-white px-4 py-2 rounded-md my-4" type="submit">Enviar</button>
      </div>        
    </div>
  </form>
</div>
        
      <!--Funcion en javascript para que la hora se ponga automaticamente-->
      <script>
        function setDateTime() {
          const dateInput = document.querySelector('input[name="fecha"]');
          const now = new Date();
          const year = now.getFullYear();
          const month = String(now.getMonth() + 1).padStart(2, '0');
          const day = String(now.getDate()).padStart(2, '0');
          const hours = String(now.getHours()).padStart(2, '0');
          const minutes = String(now.getMinutes()).padStart(2, '0');
        
          // El valor del campo datetime-local debe tener el formato "AAAA-MM-DDThh:mm"
          const dateTimeValue = `${year}-${month}-${day}T${hours}:${minutes}`;
          dateInput.value = dateTimeValue;
        }
        </script>

      <!--funcion en javascript para que cuando el camion no vaya cargado no se pueda escribir el n° del contenedor y el n° de sello-->
      <script>
        const cargado = document.getElementById('cargado');
        const sello = document.getElementById('sello');
      
        cargado.addEventListener('change', () => {
          if (cargado.checked) {
            // Si el cargado está marcado (cargado es igual a 1), habilitar los campos
            sello.disabled = false;
          } else {
            // Si el cargado no está marcado (cargado es igual a 0), deshabilitar los campos
            sello.disabled = true;
          }
        });
      </script>
    
      
    </form>
  </div>

{% endblock %}
  