{% extends 'central-base.html' %}
{% load static %}

{% block menu %}
<div class="mx-5 py-6 h-screen">
  <div class="">
    <!--Introducción-->
    <div class="grid grid-cols-2 px-3">
      <div class="py-2">
        <h3 class="text-4xl font-semibold"> Registros </h3>
        <!--Filtro de registros-->
        <div class="mt-2">
          <form action="." method="POST" class="flex items-center">
            {% csrf_token %}
            <div class="grid">
              <label for="tracto" class="mr-2 font-semibold">N° Tracto</label>
              <input 
                type="text" 
                name="tracto" 
                placeholder="Ingrese el número de tracto" 
                maxlength="4" 
                class="w-96 rounded-md">

                <button 
                  class="bg-amber-400 hover:bg-amber-600 shadow-lg text-white px-4 py-2 rounded-md my-2" type="submit">
                    Filtrar
                </button>   
            </div> 
          </form>   
        </div>
      </div>
      <div class="grid gap-3 grid-rows-2 my-2 w-80 h-1/2 justify-self-end">
        {% if usuario.es_admin == "1" %}
        <p class="col-start-2 row-start-2 h-12 md:col-span-1 bg-amber-400 hover:bg-amber-600 shadow-lg py-2 text-center text-white font-medium rounded-lg">
          <a href="{% url "usuarios" %}">
            Control de usuarios
          </a>
        </p>
        {% endif %}
        <p class="col-start-2 h-12 md:col-span-1 bg-amber-400 hover:bg-amber-600 shadow-lg py-2 text-center text-white font-medium rounded-lg">
          <a href="{% url 'nuevoRegistro' %}">
            Crear un registro
          </a>
        </p>
      </div>          
    </div>
    
    
    <!--Tabla de los registros-->
    <div class="text-center pt-4 px-6 h-3/5 overflow-auto">
      <table class="min-w-full">
        <thead>
          <tr class="bg-zinc-400">
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">N° Tracto</th>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">Estado</th>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">Equipo</th>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">Fecha</th>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">Hora</th>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">Nombre Conductor</th>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">PPU semi remolque</th>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">N° contenedor</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">N° sello</th>
          </tr>
        </thead>
        <tbody class="">
          {% for registro in registros %}
          <tr class="{% cycle 'bg-zinc-200' 'bg-white' %}">
            <td scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">{{ registro.tracto }}</td>
            <td scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">{{ registro.estado }}</td>
            <td scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">{{ registro.camion }}</td>
            <td scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">{{ registro.fecha }}</td>
            <td scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">{{ registro.hora }}</td>
            <td scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">{{ registro.conductor }}</td>
            <td scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">{{ registro.ppu }}</td>
            <td scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">{{ registro.contenedor }}</td>
            <td scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">{{ registro.sello }}</td>
          </tr>
          <tr>
            <th colspan="10"></th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>    

{% endblock %}

