{% extends 'central-base.html' %}
{% load static %}

{% block menu %}
  
    <div class="mx-5 py-6 h-screen">
      <div class="bg-zinc-400 h-2/3 text-center py-4 ">
        <!--Introducción-->
        <div>
            <h3 class="text-2xl font-semibold"> Registros </h3>
            <p> Lorem ipsum. </p>
        </div>
        <!--Filtro de registros-->
        <div>
            <h3 class="text-2xl font-semibold"> Filtrar registros </h3>
            <form 
            action="." 
            method="POST"
            class="flex items-center">
            {% csrf_token %}
              <label for="tracto">N° Tracto</label>
              <input 
                type="text" 
                name="tracto" 
                placeholder="Ingrese el número de tracto"
                maxlength="4"
              >
              <div class="col-start-2 grid my-2">
                <label for="todo">Volver a mostrar todo</label>
                <input 
                  type="checkbox" 
                  name="todo" 
                  value="1"
                  id="todo"
                >
              </div>
              {% comment %} <div class="col-start-2 grid my-2">
                <label for="hora">Hora</label>
                <input 
                  type="datetime-local" 
                  name="fecha" 
                  value=""
                >
              </div> {% endcomment %}

              <button 
              class="bg-amber-500 text-white px-4 py-2 rounded-md my-4" 
              type="submit">
              Filtrar
              </button>     
            </form>
            <a href="{% url 'nuevoRegistro' %}">
              Crear un registro!
            </a>
        </div>
        <!--Tabla de los registros-->
        <div class="bg-zinc-400 h-3/4 text-center py-4 px-6">
          <table class="min-w-full divide-y divide-gray-300">
            <thead>
              <tr>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">N° Tracto</th>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">Estado</th>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">Equipo</th>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">Fecha</th>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">Hora</th>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">Nombre Conductor</th>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">PPU semi remolque</th>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">n° contenedor</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">n° sello</th>
              </tr>
            </thead>
            <tbody>
              {% for registro in registros %}
              <tr>
                <td scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">{{ registro.tracto }}</td>
                <td scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">{{ registro.estado }}</td>
                <td scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">{{ registro.camion }}</td>
                <td scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">{{ registro.fecha }}</td>
                <td scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">{{ registro.hora }}</td>
                <td scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">{{ registro.conductor }}</td>
                <td scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">{{ registro.ppu }}</td>
                <td scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">{{ registro.contenedor }}</td>
                <td scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">{{ registro.sello }}</td>
              </tr>
              <tr>
                <th colspan="10"></th>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>    

{% endblock %}
                    <tbody class="bg-white">
                    {% for e in tasks %}
                      {% if e.isdone == 'No completado'%}
                      <tr class="even:bg-gray-50">
                        <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-3"> {{ e.incharge }} </td>
                        <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-3"> {{ e.tasktitle }} </td>
                        <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-3"> {{ e.taskdescription }} </td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"> {{ e.isdone }} </td>
                        <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-3">
                          <form action="{{ e.title }}" method="POST">
                            {% csrf_token %}
                            <input class="hidden" id="id" name="titulo" value="{{ e.tasktitle }}"></input>
                            <button type='submit'> Cerrar tarea </button>
                          </form>
                        </td>
                      </tr>
                      {% endif %}
                    {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>
    </div>


<h1>
    Formulario para filtrar resultados.
</h1>
<form action="." method="POST">
    <input/>
</form>
<a href="{% url 'nuevoRegistro' %}">
    Crear un registro!
</a>
<h1>
    Resultados.
</h1>
<ul>
    {% for e in registros %}
    <div>
        <li> 
            {{ e.tracto }} 
        </li>
    </div>
    {% endfor %}
</ul>
