{% extends 'usuario-base.html' %}
{% load static %}

{% block registros_usuarios %}
<div class="bg-white min-h-screen flex items-center justify-center">
    <form action="." method="POST">
        {% csrf_token %}
        <div class="bg-zinc-400 rounded-lg shadow-md p-10 "> 
            <h1 class="text-center text-xl font-bold leading-8 text-gray-900">Ingrese los datos para el registro</h1>

            <div class="mt-4">
                <input required name="email" type="email" autocomplete="email" placeholder="Correo electrónico" class="w-full md:w-96 py-2 px-4 rounded-md border-gray-300 placeholder-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-orange-600 sm:text-sm">
            </div>

            <div class="mt-4">
                <input required name="nombre" type="text" placeholder="Nombre" class="w-full md:w-96 py-2 px-4 rounded-md border-gray-300 placeholder-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-orange-600 sm:text-sm">
            </div>

            <div class="mt-4">
                <label for="equipos" class="block text-sm font-medium text-gray-700">Elija el equipo al que se integra:</label>
                <select id="equipos" name="equipos" class="mt-1 block w-full md:w-96 py-2 px-3 border-gray-300 bg-white rounded-md shadow-sm focus:ring-2 focus:ring-offset-2 focus:ring-orange-600 sm:text-sm">
                    <option value="accesos">Control de accesos</option>
                    <option value="gps">Control GPS</option>
                </select>
            </div>

            <div class="mt-4">
                <label for="esAdmin" class="block text-sm font-medium text-gray-700">Este usuario será administrador?</label>
                <input type="checkbox" id="esAdmin" name="esAdmin" value="1" class="mt-1">
            </div>

            <div class="mt-4">
                <input required name="contraseña" type="password" placeholder="Contraseña" class="w-full md:w-96 py-2 px-4 rounded-md border-gray-300 placeholder-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-orange-600 sm:text-sm">
            </div>

            <div class="mt-6">
                <button type="submit" class="w-full md:w-96 py-2 px-4 rounded-md bg-amber-500 text-sm font-semibold text-white hover:bg-amber-600 focus:ring-2 focus:ring-offset-2 focus:ring-orange-600">
                    Registrar
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}