{% extends 'usuario-base.html' %}
{% load static %}

{% block usuarios %}
<div class="bg-white">
  <div class="mt-6">
    <div class="grid grid-cols-4 mx-6">
      <!--División para parte de filtrado-->
      <div class="col-span-3">
        <h2 class="text-4xl font-semibold">Control de usuarios</h2>
        <form action="." method="POST" class="flex">
          {% csrf_token %}
          <div class="">
            <p class="font-medium">Búsqueda por nombre:</p>
            <input type="text" name="tracto" placeholder="Nombre" maxlength="25" class="rounded-md">
            <button class="bg-amber-500 text-white px-4 py-2 rounded-md" type="submit">
              Filtrar
            </button> 
          </div>            
        </form>
      </div>
      <!--División para botón al registro de usuarios-->
      <div class="flex items-center justify-end px-6">
        <a href="{% url "registrar" %}" class="bg-amber-400 text-white font-semibold rounded-lg px-4 py-2">
          Registrar usuarios
        </a>
      </div>
    </div>
    <!--División para muestra de resultados-->
    <div class="grid grid-cols-7 mt-6">
      <table class="col-start-2 col-span-5">
        <thead>
          <tr>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3"> Nombre completo </th>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3"> Correo electrónico </th>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3"> Teléfono </th>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3"> Grupo de trabajo </th>
          </tr>
        </thead>
        <tbody>
          {% for e in usuarios %}
          <tr>
            <td scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3"> {{ e.nombre}} </td>
            <td scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3"> Correo de relleno </td>
            <td scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3"> Teléfono de relleno </td>
            <td scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3"> Grupo de relleno </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% comment %} <ul class="col-start-2 col-span-5 bg-red-500">
        {% for e in usuarios %}
        <li class="flex items-center justify-between p-2">
          <span class="">{{ e.nombre }}</span>
          <a href="{% url 'eliminar' e.id %}" class="">
            Eliminar
          </a>
        </li>
        {% endfor %}
      </ul> {% endcomment %}
    </div>
  </div>
</div>

{% endblock %}


