{% extends 'usuario-base.html' %}
{% load static %}

{% block usuarios %}
<div class="bg-white h-screen">
  <div class="my-8">
    <div class="grid grid-cols-4 mx-16 my-8">
      <!--División para parte de filtrado-->
      <div class="col-span-3">
        <h2 class="text-4xl font-semibold">Control de usuarios</h2>
        <form action="." method="POST" class="flex">
          {% csrf_token %}
          <div class="">
            <p class="font-medium">Búsqueda por nombre:</p>
            <input 
              type="text" 
              name="nombre" 
              placeholder="Nombre" 
              maxlength="25" 
              class="w-96 rounded-md">
            <button class="bg-amber-400 hover:bg-amber-600 shadow-lg text-white px-4 py-2 rounded-md" type="submit">
              Filtrar
            </button> 
          </div>            
        </form>
      </div>
      <!--División para botón al registro de usuarios-->
      <div class="flex items-center justify-end px-6">
        <a href="{% url "registrar" %}" class="bg-amber-400 hover:bg-amber-600 shadow-lg text-white font-semibold rounded-lg px-4 py-2">
          Registrar usuarios
        </a>
      </div>
    </div>
    <!--División para muestra de resultados-->
    <div class="flex items-center mx-16">
      <table class="min-w-full overflow-y-auto">
        <thead>
          <tr class="bg-zinc-400">
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-bold text-gray-900 sm:pl-3"> Nombre completo </th>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-bold text-gray-900 sm:pl-3"> Correo electrónico </th>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-bold text-gray-900 sm:pl-3"> Teléfono </th>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-bold text-gray-900 sm:pl-3"> Grupo de trabajo </th>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-bold text-gray-900 sm:pl-3"></th>
          </tr>
        </thead>
        <tbody>
          {% for e in usuarios %}
          <!--cycle para el intercalado de clases-->
            <tr class="{% cycle 'bg-zinc-200' 'bg-white' %}">
              <td scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">{{ e.nombre }}</td>
              <td scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">{{ e.email }}</td>
              <td scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">Teléfono de relleno</td>
              <td scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">{{ e.equipo }}</td>
              <td scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">
                <a 
                  href="{% url 'eliminar' e.id %}" 
                  class="bg-amber-400 hover:bg-amber-600 shadow-lg text-zinc-600 rounded-md px-3 py-1"> Eliminar </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}


