{% load static %}
{% load static tailwind_tags %}

<html class="scroll-smooth scroll-pt-12">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>PUCARA</title>
      {% tailwind_css %}
  </head>
  <nav>

  </nav>
  <body>
    <div class="col-start-2 col-span-4">
            <!-- inicio de sesion -->
            {% block sesion %}
            {% endblock %}
            
            <!-- Registros de usuarios -->
            {% block registros_usuarios %}
            {% endblock %}

            <!-- Dashboard usuarios -->
            {% block usuarios %}
            {% endblock %}
    </div>
  </body>
  <footer>
    <!--link de redes de sociales-->
  </footer>
</html>